<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kira.emercmdplat.mapper.ContactMapper">
    <resultMap id="BaseResultMap" type="com.kira.emercmdplat.pojo.ContactsResult">
        <id column="c_id" property="id" jdbcType="INTEGER"/>
        <result column="c_name" property="contactName" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="INTEGER"/>
        <result column="j_id" property="jId" jdbcType="INTEGER"/>
        <result column="m_id" property="mId" jdbcType="INTEGER"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="backup_phone" property="backupPhone" jdbcType="VARCHAR"/>
        <result column="terminal" property="terminal" jdbcType="VARCHAR"/>
        <result column="work_phone" property="workPhone" jdbcType="VARCHAR"/>
        <result column="home_phone" property="homePhone" jdbcType="VARCHAR"/>
        <result column="other_phone" property="otherPhone" jdbcType="VARCHAR"/>
        <result column="fax_number" property="faxNumber" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="importance_degree" property="importanceDegree" jdbcType="INTEGER"/>
        <result column="photo" property="photo" jdbcType="VARCHAR"/>
        <result column="notes" property="notes" jdbcType="VARCHAR"/>
        <result column="lng" property="lng" jdbcType="DOUBLE"/>
        <result column="lat" property="lat" jdbcType="DOUBLE"/>
        <result column="g_id" property="gId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
        <result column="j_name" property="jName" jdbcType="VARCHAR"/>
        <result column="m_name" property="mName" jdbcType="VARCHAR"/>
        <result column="g_name" property="gName" jdbcType="VARCHAR"/>
        <result column="person_attribute" property="personAttribute" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="login_time" property="loginTime" jdbcType="VARCHAR"/>
        <result column="expire_time" property="expireTime" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
        <result column="rong_token" property="rongToken" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="GroupResultMap" type="com.kira.emercmdplat.pojo.Group">
        <id column="g_id" property="id" jdbcType="BIGINT"/>
        <result column="g_name" property="gName" jdbcType="VARCHAR"/>
        <result column="super_g_id" property="superGid" jdbcType="BIGINT"/>
    </resultMap>
    <resultMap id="ShiftResultMap" type="com.kira.emercmdplat.pojo.Shift">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="shift_name" property="shiftName" jdbcType="VARCHAR"/>
        <result column="start_date" property="startDate" jdbcType="VARCHAR"/>
        <result column="end_date" property="endDate" jdbcType="VARCHAR"/>
        <result column="mechanism_id" property="mechanismId" jdbcType="BIGINT"/>
        <result column="mechanism_name" property="mechanismName" jdbcType="VARCHAR"/>
        <result column="person_number" property="personNumber" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="BaseDataResultMap" type="com.kira.emercmdplat.pojo.BaseData">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="b_data" property="basicData" jdbcType="VARCHAR"/>
        <result column="data_type" property="type" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        c.c_id, c.c_name, c.gender, c.j_id, c.m_id, c.telephone, c.backup_phone, c.terminal, c.work_phone, c.home_phone, c.other_phone, c.fax_number, c.email, c.importance_degree,
        c.photo, c.notes, c.g_id, c.lng, c.lat, c.create_time, c.update_time, c.username, c.password, j.j_name, m.m_name, g.g_name, c.person_attribute, c.username, c.password, c.login_time, c.expire_time, c.token, c.rong_token
    </sql>
    <sql id="Basic_Conditions" >
        <!--    <![CDATA[where 1=1 ]]>-->
        <if test="id != null" >
          and c.c_id = #{id,jdbcType=BIGINT}
        </if>
        <if test="contactName != null" >
          and c.c_name = #{contactName,jdbcType=VARCHAR}
        </if>
        <if test="gender != null" >
          and c.gender = #{gender,jdbcType=INTEGER}
        </if>
        <if test="jId != null" >
          and c.j_id = #{jId,jdbcType=BIGINT}
        </if>
        <if test="mId != null" >
          and c.m_id = #{mId,jdbcType=BIGINT}
        </if>
        <if test="telephone != null" >
          and c.telephone = #{telephone,jdbcType=VARCHAR}
        </if>
        <if test="terminal != null" >
          and c.terminal = #{terminal,jdbcType=VARCHAR}
        </if>
        <if test="workPhone != null" >
          and c.work_phone = #{workPhone,jdbcType=VARCHAR}
        </if>
        <if test="homePhone != null" >
          and c.home_phone = #{homePhone,jdbcType=VARCHAR}
        </if>
        <if test="otherPhone != null" >
          and c.other_phone = #{otherPhone,jdbcType=VARCHAR}
        </if>
        <if test="faxNumber != null" >
          and c.fax_number = #{faxNumber,jdbcType=VARCHAR}
        </if>
        <if test="email != null">
            and c.email = #{email, jdbcType=VARCHAR}
        </if>
        <if test="gId != null">
            and c.g_id = #{gId, jdbcType=BIGINT}
        </if>
        <if test="roleId != null">
            and c.role_id = #{roleId, jdbcType=BIGINT}
        </if>
    </sql>
    <sql id="Basic_Shift_Conditions" >
        <if test="id != null" >
            and s.id = #{id,jdbcType=BIGINT}
        </if>
        <if test="shiftName != null" >
            and s.shift_name like concat('%',#{shiftName,jdbcType=VARCHAR},'%')
        </if>
        <if test="startDate != null" >
            and to_date(s.startTime, "yyyy-MM-dd") &gt;= to_date(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
        </if>
        <if test="startDate != null" >
            and to_date(s.endTime, "yyyy-MM-dd") &lt;= to_date(#{startDate, jdbcType=VARCHAR}, 'yyyy-MM-dd')
        </if>
        <if test="mechanismId != null" >
            and s.mechanism_id = #{mechanismId,jdbcType=BIGINT}
        </if>
    </sql>
    <sql id="Page_Order">
        <if test="order != null and orderType">
            order by ${order} ${orderType}
        </if>
        <if test="page != null">
            limit ${page}, ${pageSize}
        </if>
    </sql>
    <resultMap id="GroupMap" type="com.kira.emercmdplat.pojo.Group">
        <id column="g_id" property="id" jdbcType="BIGINT"/>
        <result column="g_name" property="gName" jdbcType="VARCHAR"/>
        <result column="super_g_id" property="superGid" jdbcType="BIGINT"/>
        <collection property="contactsList" column="g_id" ofType="com.kira.emercmdplat.pojo.ContactsResult">
            <id column="c_id" property="id" jdbcType="INTEGER"/>
            <result column="c_name" property="contactName" jdbcType="VARCHAR"/>
            <result column="gender" property="gender" jdbcType="INTEGER"/>
            <result column="j_id" property="jId" jdbcType="INTEGER"/>
            <result column="m_id" property="mId" jdbcType="INTEGER"/>
            <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
            <result column="backup_phone" property="backupPhone" jdbcType="VARCHAR"/>
            <result column="terminal" property="terminal" jdbcType="VARCHAR"/>
            <result column="work_phone" property="workPhone" jdbcType="VARCHAR"/>
            <result column="home_phone" property="homePhone" jdbcType="VARCHAR"/>
            <result column="other_phone" property="otherPhone" jdbcType="VARCHAR"/>
            <result column="fax_number" property="faxNumber" jdbcType="VARCHAR"/>
            <result column="email" property="email" jdbcType="VARCHAR"/>
            <result column="importance_degree" property="importanceDegree" jdbcType="INTEGER"/>
            <result column="photo" property="photo" jdbcType="VARCHAR"/>
            <result column="notes" property="notes" jdbcType="VARCHAR"/>
            <result column="lng" property="lng" jdbcType="DOUBLE"/>
            <result column="lat" property="lat" jdbcType="DOUBLE"/>
            <result column="g_id" property="gId" jdbcType="INTEGER"/>
            <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
            <result column="update_time" property="updateTime" jdbcType="VARCHAR"/>
            <result column="j_name" property="jName" jdbcType="VARCHAR"/>
            <result column="m_name" property="mName" jdbcType="VARCHAR"/>
            <result column="g_name" property="gName" jdbcType="VARCHAR"/>
            <result column="person_attribute" property="personAttribute" jdbcType="INTEGER"/>
            <result column="username" property="username" jdbcType="VARCHAR"/>
            <result column="password" property="password" jdbcType="VARCHAR"/>
            <result column="login_time" property="loginTime" jdbcType="VARCHAR"/>
            <result column="expire_time" property="expireTime" jdbcType="VARCHAR"/>
            <result column="token" property="token" jdbcType="VARCHAR"/>
            <result column="rong_token" property="rongToken" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    <insert id="insert" parameterType="com.kira.emercmdplat.pojo.Contacts" >
        insert into contacts (c_id, c_name, gender, j_id, m_id, telephone, backup_phone, terminal, work_phone, home_phone, other_phone, fax_number, email, importance_degree,
            photo, notes, lng, lat, g_id, person_attribute, create_time, update_time, user_name, password)
        values (#{id,jdbcType=INTEGER}, #{contactName,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, #{jId,jdbcType=INTEGER}, #{mId,jdbcType=INTEGER}, #{telephone,jdbcType=VARCHAR},
            #{backupPhone,jdbcType=VARCHAR}, #{terminal,jdbcType=VARCHAR}, #{workPhone,jdbcType=VARCHAR}, #{homePhone,jdbcType=VARCHAR}, #{otherPhone,jdbcType=VARCHAR}, #{faxNumber,jdbcType=VARCHAR},
            #{email, jdbcType=VARCHAR}, #{importanceDegree, jdbcType=INTEGER}, #{photo, jdbcType=VARCHAR}, #{notes, jdbcType=VARCHAR},
            #{lng, jdbcType=DOUBLE}, #{lat,jdbcType=DOUBLE},#{gId, jdbcType=INTEGER}, #{personAttribute,jdbcType=INTEGER},
            #{createTime, jdbcType=VARCHAR}, #{updateTime, jdbcType=VARCHAR}, #{username, jdbcType=VARCHAR},#{password, jdbcType=VARCHAR})
    </insert>
    <insert id="insertGroup" parameterType="com.kira.emercmdplat.pojo.Group">
        insert into contact_group(g_id, g_name, super_g_id)
        values
        (#{id,jdbcType=BIGINT}, #{gName,jdbcType=VARCHAR}, #{superGid,jdbcType=BIGINT})
    </insert>
    <insert id="insertShift" parameterType="com.kira.emercmdplat.pojo.Shift">
        insert into shift(id, shift_name, start_date, end_date, mechanism_id, person_number, create_time)
        values
        (#{id,jdbcType=BIGINT}, #{shiftName,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, #{mechanismId,jdbcType=BIGINT}, #{personNumber,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR})
    </insert>
    <delete id="delete" parameterType="java.lang.Long">
        DELETE from contacts
        where c_id = #{contactId,jdbcType=BIGINT}
    </delete>
    <delete id="deleteGroup" parameterType="java.lang.Long">
        delete from contact_group
        where g_id = #{id, jdbcType=BIGINT}
    </delete>
    <delete id="deleteShift" parameterType="java.lang.Long">
        delete from shift
        where id = #{shiftId, jdbcType=BIGINT}
    </delete>
    <update id="update" parameterType="com.kira.emercmdplat.pojo.Contacts">
        update contacts
        <set>
            <if test="contactName != null" >
                c_name = #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="gender != null" >
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="jId != null" >
                j_id = #{jId,jdbcType=INTEGER},
            </if>
            <if test="mId != null" >
                m_id = #{mId,jdbcType=INTEGER},
            </if>
            <if test="telephone != null" >
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="backupPhone != null" >
                backup_phone = #{backupPhone,jdbcType=VARCHAR},
            </if>
            <if test="terminal != null" >
                terminal = #{terminal,jdbcType=VARCHAR},
            </if>
            <if test="workPhone != null" >
                work_phone = #{workPhone,jdbcType=VARCHAR},
            </if>
            <if test="homePhone != null" >
                home_phone = #{homePhone,jdbcType=VARCHAR},
            </if>
            <if test="otherPhone != null" >
                other_phone = #{otherPhone,jdbcType=VARCHAR},
            </if>
            <if test="faxNumber != null" >
                fax_number = #{faxNumber,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email, jdbcType=VARCHAR},
            </if>
            <if test="importanceDegree != null">
                importance_degree = #{importanceDegree, jdbcType=INTEGER},
            </if>
            <if test="photo != null">
                photo = #{photo, jdbcType=VARCHAR},
            </if>
            <if test="notes != null">
                notes = #{notes, jdbcType=VARCHAR},
            </if>
            <if test="gId != null">
                g_id = #{gId, jdbcType=INTEGER},
            </if>
            <if test="personAttribute != null">
                person_attribute = #{personAttribute,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime, jdbcType=VARCHAR},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime, jdbcType=VARCHAR},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime, jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                token = #{token, jdbcType=VARCHAR},
            </if>
            <if test="rongToken != null">
                rong_token = #{rongToken, jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                user_name = #{username, jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password, jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id = #{roleId, jdbcType=BIGINT},
            </if>
        </set>
        where c_id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateGroup" parameterType="com.kira.emercmdplat.pojo.Group">
        update contact_group
        <set>
            <if test="gName != null" >
                g_name = #{gName,jdbcType=VARCHAR},
            </if>
            <if test="superGid != null" >
                super_g_id = #{superGid,jdbcType=BIGINT},
            </if>
        </set>
        where g_id = #{id, jdbcType=BIGINT}
    </update>
    <update id="updateShift" parameterType="com.kira.emercmdplat.pojo.Shift">
        update shift
        <set>
            <if test="shiftName != null" >
                shift_name = #{shiftName,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null" >
                start_date = #{startDate, jdbcType=VARCHAR},
            </if>
            <if test="endDate != null" >
                endDate = #{endDate, jdbcType=VARCHAR},
            </if>
            <if test="mechanismId != null" >
                mechanism_id = #{mechanismId,jdbcType=BIGINT},
            </if>
            <if test="personNumber != null">
                person_number = #{personNumber,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id, jdbcType=BIGINT}
    </update>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from contacts c, job j, mechanism m , contact_group g
        where c.j_id = j.id and c.m_id = m.id and c.g_id = g.g_id and c.c_id = #{contactId, jdbcType=BIGINT}
    </select>
    <select id="selectGroupById" resultMap="GroupResultMap" parameterType="java.lang.Long">
        select g_id, g_name, super_g_id from contact_group
        where g_id = #{id, jdbcType=BIGINT}
    </select>
    <select id="selectGeoContacts" resultMap="BaseResultMap" parameterType="com.kira.emercmdplat.pojo.Contacts">
        select
        <include refid="Base_Column_List"/>
        from contacts c, job j, mechanism m , contact_group g
        where c.j_id = j.id and c.m_id = m.id and c.g_id = g.g_id
        and c.lat &gt; 0 and c.lng &gt; 0
    </select>
    <select id="selectContactList" resultMap="GroupMap">
        select * from contact_group cg left join contacts c on c.g_id = cg.g_id
    </select>
    <select id="queryForIds" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from contacts c, job j, mechanism m , contact_group g
        where c.j_id = j.id and c.m_id = m.id and c.g_id = g.g_id
        and c.c_id IN
        <foreach collection="ids" separator="," item="item" close=")" open="(">
			#{item}
		</foreach>
    </select>
    <select id="queryForAllOrPage" resultMap="BaseResultMap" parameterType="com.kira.emercmdplat.pojo.Contacts">
        select
        <include refid="Base_Column_List"/>
        from contacts c, job j, mechanism m , contact_group g
        where c.j_id = j.id and c.m_id = m.id and c.g_id = g.g_id
        <include refid="Basic_Conditions"/>
        <include refid="Page_Order"/>
    </select>
    <select id="queryForCounts" resultType="java.lang.Long" parameterType="com.kira.emercmdplat.pojo.Contacts">
        select count(c.c_id)
        from contacts c
        where 1 = 1
        <include refid="Basic_Conditions"/>
    </select>
    <select id="queryForGroupCounts" resultType="java.lang.Long" parameterType="com.kira.emercmdplat.pojo.Group">
        select count(g_id)
        from contact_group
        where 1 = 1
        <if test="id != null">
            and g_id = #{id,jdbcType=BIGINT}
        </if>
        <if test="gName != null">
            and g_name = #{gName,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectByGid" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from contacts c, job j, mechanism m , contact_group g
        where c.j_id = j.id and c.m_id = m.id and c.g_id = g.g_id and c.g_id = #{gid, jdbcType=BIGINT}
    </select>
    <select id="selectGroup" resultMap="GroupResultMap" parameterType="com.kira.emercmdplat.pojo.Group">
        select g_id, g_name, super_g_id from contact_group
        where 1 = 1
        <if test="id != null">
            and g_id = #{id,jdbcType=BIGINT}
        </if>
        <if test="gName != null">
            and g_name = #{gName,jdbcType=VARCHAR}
        </if>
        <include refid="Page_Order"/>
    </select>
    <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
    	select
        <include refid="Base_Column_List"/>
        from contacts c, job j, mechanism m , contact_group g
        where c.j_id = j.id and c.m_id = m.id and c.g_id = g.g_id and username=#{username}
    </select>
    <select id="findByToken" resultMap="BaseResultMap" parameterType="java.lang.String">
    	select
        <include refid="Base_Column_List"/>
        from contacts c, job j, mechanism m, contact_group g
        where c.j_id = j.id and c.m_id = m.id and c.g_id = g.g_id and token = #{token, jdbcType=VARCHAR}
    </select>
    <select id="queryAllData" resultMap="BaseDataResultMap">
        select
        *
        from base_data
    </select>
</mapper>