<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kira.emercmdplat.mapper.EventMapper">
    <resultMap id="BaseResultMap" type="com.kira.emercmdplat.pojo.EventResult">
        <id column="e_id" property="id" jdbcType="INTEGER"/>
        <result column="event_number" property="eventNumber" jdbcType="VARCHAR"/>
        <result column="event_desc" property="eventDesc" jdbcType="VARCHAR"/>
        <result column="event_title" property="eventTitle" jdbcType="VARCHAR"/>
        <result column="receive_time" property="receiveTime" jdbcType="VARCHAR"/>
        <result column="incident_time" property="incidentTime" jdbcType="VARCHAR"/>
        <result column="incident_location" property="incidentLocation" jdbcType="VARCHAR"/>
        <result column="lng" property="lng" jdbcType="DOUBLE"/>
        <result column="lat" property="lat" jdbcType="DOUBLE"/>
        <result column="influence_sphere" property="influenceSphere" jdbcType="DOUBLE"/>
        <result column="incident_area_id" property="incidentAreaId" jdbcType="INTEGER"/>
<!--        <result column="incident_area_name" property="incidentAreaName" jdbcType="VARCHAR"/>-->
        <result column="pt_id" property="ptId" jdbcType="INTEGER"/>
        <result column="pt_name" property="ptName" jdbcType="VARCHAR"/>
        <result column="report_mechanism_id" property="reportMechanismId" jdbcType="INTEGER"/>
        <result column="m_name" property="reportMechanismName" jdbcType="VARCHAR"/>
        <result column="mechanism_id" property="mechanismId" jdbcType="INTEGER"/>
        <result column="mechanism_name" property="mechanismName" jdbcType="VARCHAR"/>
        <result column="reporter" property="reporter" jdbcType="VARCHAR"/>
        <result column="report_tel" property="reportTel" jdbcType="VARCHAR"/>
        <result column="d_id" property="did" jdbcType="INTEGER"/>
        <result column="d_name" property="dName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="process" property="process" jdbcType="INTEGER"/>
        <result column="summary" property="summary" jdbcType="VARCHAR"/>
        <result column="merge_reason" property="mergeReason" jdbcType="VARCHAR"/>
        <result column="event_level" property="eventLevel" jdbcType="INTEGER"/>
        <result column="verify_method" property="verifyMethod" jdbcType="INTEGER"/>
        <result column="event_type" property="eventType" jdbcType="INTEGER"/>
        <result column="verify_status" property="verifyStatus" jdbcType="INTEGER"/>
        <result column="report_type" property="reportType" jdbcType="INTEGER"/>
        <result column="mechanism_id" property="mechanismId" jdbcType="BIGINT"/>
        <result column="attach_addr" property="attachAddr" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="BaseParamResultMap" type="com.kira.emercmdplat.pojo.EventParamResult">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="e_id" property="eId" jdbcType="BIGINT"/>
        <result column="event_number" property="eventNumber" jdbcType="VARCHAR"/>
        <result column="pp_id" property="ppId" jdbcType="BIGINT"/>
        <result column="pp_value" property="ppValue" jdbcType="VARCHAR"/>
        <result column="pp_name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    e.e_id, e.event_number, e.event_desc, e.event_title, e.receive_time, e.incident_time, e.incident_location, e.lng, e.lat, e.influence_sphere, e.incident_area_id,
    e.pt_id, pt.pt_name, e.report_mechanism_id, m.m_name, e.mechanism_id, me.m_name as mechanism_name, e.reporter, e.report_tel, e.d_id, d.d_name, e.status, e.process, e.summary, e.merge_reason, e.event_level,
    e.verify_method, e.event_type, e.verify_status, e.report_type, e.attach_addr
    </sql>
    <sql id="Basic_Conditions">
<!--        <![CDATA[where 1=1 ]]>-->
        <if test="id != null">
            and e.e_id = #{id,jdbcType=INTEGER}
        </if>
        <if test="eventNumber != null">
            and e.event_number = #{eventNumber,jdbcType=VARCHAR}
        </if>
        <if test="eventDesc != null">
            and e.event_desc = #{eventDesc,jdbcType=VARCHAR}
        </if>
        <if test="eventTitle != null">

            and e.event_title like concat('%',#{eventTitle,jdbcType=VARCHAR},'%')
        </if>
        <if test="receiveTime != null">
            and e.receive_time = #{receiveTime,jdbcType=VARCHAR}
        </if>
        <if test="incidentTime != null">
            and e.incident_time = #{incidentTime,jdbcType=VARCHAR}
        </if>
        <if test="incidentLocation != null">
            and e.incident_location = #{incidentLocation,jdbcType=VARCHAR}
        </if>
        <if test="lng != null">
            and e.lng = #{lng,jdbcType=DOUBLE}
        </if>
        <if test="lat != null">
            and e.lat = #{lat,jdbcType=DOUBLE}
        </if>
        <if test="influenceSphere != null">
            and e.influence_sphere = #{influenceSphere,jdbcType=DOUBLE}
        </if>
        <if test="incidentAreaId != null">
            and e.incident_area_id = #{incidentAreaId,jdbcType=BIGINT}
        </if>
        <if test="ptId != null">
            and e.pt_id = #{ptId,jdbcType=INTEGER}
        </if>
        <if test="reportMechanismId != null">
            and e.report_mechanism_id = #{reportMechanismId,jdbcType=BIGINT}
        </if>
        <if test="mechanismId != null">
            and e.mechanism_id = #{mechanismId,jdbcType=BIGINT}
        </if>
        <if test="reporter != null">
            and e.reporter = #{reporter,jdbcType=VARCHAR}
        </if>
        <if test="reportTel != null">
            and e.report_tel = #{reportTel,jdbcType=VARCHAR}
        </if>
        <if test="did != null">
            and e.d_id = #{did,jdbcType=INTEGER}
        </if>
        <if test="status != null">
            and e.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="process != null">
            and e.process = #{process,jdbcType=INTEGER}
        </if>
        <if test="summary != null">
            and e.summary = #{summary,jdbcType=VARCHAR}
        </if>
        <if test="mergeReason != null">
            and e.merge_reason = #{mergeReason,jdbcType=VARCHAR}
        </if>
        <if test="eventLevel != null">
            and e.event_level = #{eventLevel,jdbcType=INTEGER}
        </if>

        <if test="verifyMethod != null">
            and e.verify_method = #{verifyMethod,jdbcType=INTEGER}
        </if>
        <if test="eventType != null">
            and e.event_type = #{eventType,jdbcType=INTEGER}
        </if>
        <if test="verifyStatus != null">
            and e.verify_status = #{verifyStatus,jdbcType=INTEGER}
        </if>
        <if test="reportType != null">
            and e.report_type = #{reportType,jdbcType=INTEGER}
        </if>
        <if test="mechanismId != null">
            and e.mechanism_id = #{mechanismId,jdbcType=BIGINT}
        </if>
    </sql>
    <insert id="insert" parameterType="com.kira.emercmdplat.pojo.Event" useGeneratedKeys="true" keyProperty="id">
        insert into event_receive (e_id, event_number, event_desc, event_title, receive_time, incident_time, incident_location, lng, lat, influence_sphere, incident_area_id, pt_id, report_mechanism_id,
            mechanism_id,reporter, report_tel, d_id, status, process, summary, merge_reason, event_level, verify_method, event_type, verify_status, report_type, mechanism_id, attach_addr)
        values (#{id,jdbcType=INTEGER}, #{eventNumber,jdbcType=VARCHAR}, #{eventDesc,jdbcType=VARCHAR}, #{eventTitle,jdbcType=VARCHAR}, #{receiveTime,jdbcType=VARCHAR},
          #{incidentTime,jdbcType=VARCHAR}, #{incidentLocation,jdbcType=VARCHAR}, #{lng,jdbcType=DOUBLE}, #{lat,jdbcType=DOUBLE},
          #{influenceSphere,jdbcType=VARCHAR}, #{incidentAreaId,jdbcType=BIGINT}, #{ptId,jdbcType=BIGINT}, #{reportMechanismId,jdbcType=BIGINT},
          #{mechanismId,jdbcType=BIGINT}, #{reporter,jdbcType=VARCHAR}, #{reportTel,jdbcType=INTEGER}, #{did,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{process,jdbcType=INTEGER},
          #{summary,jdbcType=VARCHAR}, #{mergeReason,jdbcType=VARCHAR}, #{eventLevel,jdbcType=INTEGER}, #{verifyMethod,jdbcType=INTEGER}, #{eventType,jdbcType=INTEGER}, #{verifyStatus,jdbcType=INTEGER},
          #{reportType,jdbcType=INTEGER}, #{mechanismId,jdbcType=BIGINT}, #{attachAddr,jdbcType=VARCHAR})
    </insert>
    <delete id="delete" parameterType="com.kira.emercmdplat.pojo.Event">
      DELETE event_receive
      where e_id = #{id,jdbcType=INTEGER}
    </delete>
    <update id="update" parameterType="com.kira.emercmdplat.pojo.Event">
        update event_receive
        <set>
            <if test="eventNumber != null">
                event_number = #{eventNumber,jdbcType=VARCHAR},
            </if>
            <if test="eventDesc != null">
                event_desc = #{eventDesc,jdbcType=VARCHAR},
            </if>
            <if test="eventTitle != null">
                event_title = #{eventTitle,jdbcType=VARCHAR},
            </if>
            <if test="receiveTime != null">
                receive_time = #{receiveTime,jdbcType=VARCHAR},
            </if>
            <if test="incidentTime != null">
                incident_time = #{incidentTime,jdbcType=VARCHAR},
            </if>
            <if test="incidentLocation != null">
                incident_location = #{incidentLocation,jdbcType=VARCHAR},
            </if>
            <if test="lng != null">
                lng = #{lng,jdbcType=DOUBLE},
            </if>
            <if test="lat != null">
                lat = #{lat,jdbcType=DOUBLE},
            </if>
            <if test="influenceSphere != null">
                influence_sphere = #{influenceSphere,jdbcType=DOUBLE},
            </if>
            <if test="incidentAreaId != null">
                incident_area_id = #{incidentAreaId,jdbcType=INTEGER},
            </if>
            <if test="ptId != null">
                pt_id = #{ptId,jdbcType=INTEGER},
            </if>
            <if test="reportMechanismId != null">
                report_mechanism_id = #{reportMechanismId,jdbcType=INTEGER},
            </if>
            <if test="reporter != null">
                reporter = #{reporter,jdbcType=VARCHAR},
            </if>
            <if test="reportTel != null">
                report_tel = #{reportTel,jdbcType=VARCHAR},
            </if>
            <if test="did != null">
                d_id = #{did,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="process != null">
                process = #{process,jdbcType=INTEGER},
            </if>
            <if test="summary != null">
                summary = #{summary,jdbcType=VARCHAR},
            </if>
            <if test="mergeReason != null">
               merge_reason = #{mergeReason,jdbcType=VARCHAR},
            </if>
            <if test="eventLevel != null">
                event_level = #{eventLevel,jdbcType=VARCHAR},
            </if>
            <if test="verifyMethod != null">
                verify_method = #{verifyMethod,jdbcType=INTEGER},
            </if>
            <if test="eventType != null">
                event_type = #{eventType,jdbcType=INTEGER},
            </if>
            <if test="verifyStatus != null">
                verify_status = #{verifyStatus,jdbcType=INTEGER},
            </if>
            <if test="reportType != null">
                report_type = #{reportType,jdbcType=INTEGER},
            </if>
            <if test="mechanismId != null">
                mechanism_id = #{mechanismId,jdbcType=BIGINT},
            </if>
            <if test="attachAddr != null">
                attach_addr = #{attachAddr,jdbcType=VARCHAR},
            </if>
        </set>
        where e_id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from event_receive e, plan_type pt, mechanism m, duty d, mechanism me
        where e.pt_id = pt.pt_id and e.report_mechanism_id = m.id and e.mechanism_id = me.id and e.d_id = d.id and e.verify_status &lt; 3 and e.e_id = #{id,jdbcType=BIGINT}
    </select>
    <select id="queryForAll" resultMap="BaseResultMap" parameterType="com.kira.emercmdplat.pojo.EventExtend">
        select
        <include refid="Base_Column_List"/>
        from event_receive e, plan_type pt, mechanism m, duty d, mechanism me
        where e.pt_id = pt.pt_id and e.report_mechanism_id = m.id and e.d_id = d.id and e.mechanism_id = me.id and e.verify_status &lt; 3
        <include refid="Basic_Conditions"/>
    </select>
    <select id="queryByTitle" resultMap="BaseResultMap" parameterType="com.kira.emercmdplat.pojo.Event">
        select
        <include refid="Base_Column_List"/>
        from event_receive e, plan_type pt, mechanism m, duty d, mechanism me
        where e.pt_id = pt.pt_id and e.report_mechanism_id = m.id and e.d_id = d.id and e.mechanism_id = me.id and e.verify_status &lt; 3
        and e.event_title like concat('%',#{eventTitle},'%') and e.d_id = #{did, jdbcType=BIGINT}
    </select>
    <select id="queryForPage" resultMap="BaseResultMap" parameterType="com.kira.emercmdplat.pojo.EventExtend">
        select
        <include refid="Base_Column_List"/>
        from event_receive e, plan_type pt, mechanism m, duty d, mechanism me
        where e.pt_id = pt.pt_id and e.report_mechanism_id = m.id and e.d_id = d.id and e.mechanism_id = me.id and e.verify_status &lt; 3
        <include refid="Basic_Conditions"/>
        <if test="order != null and orderType">
            order by ${order} ${orderType}
        </if>
        limit ${page}, ${pageSize}
    </select>
    <select id="queryForCounts" resultType="java.lang.Long" parameterType="com.kira.emercmdplat.pojo.Event">
        select count(e_id)
        from event_receive e
        where 1 = 1 and e.verify_status &lt; 3
        <include refid="Basic_Conditions"/>
    </select>
    <insert id="insertParam" parameterType="com.kira.emercmdplat.pojo.EventParam">
        insert into event_param(id, e_id, event_number, pp_id, pp_value)
        values (#{id,jdbcType=INTEGER}, #{eId,jdbcType=INTEGER}, #{eventNumber,jdbcType=VARCHAR}, #{ppId,jdbcType=INTEGER}, #{ppValue, jdbcType=VARCHAR})
    </insert>
    <select id="selectParamByEId" resultMap="BaseParamResultMap" parameterType="java.lang.Long">
        select ep.id, ep.e_id, ep.event_number, ep.pp_id, ep.pp_value, pp.pp_name from event_param ep, plan_param pp where ep.pp_id = pp.pp_id and e_id = #{eid,jdbcType=BIGINT}
    </select>
    <insert id="insertDevelopment" parameterType="com.kira.emercmdplat.pojo.EventDevelopment">
        insert into event_development(id, e_id, report_time, report_content, reporter)
        values (#{id, jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, #{reportTime,jdbcType=VARCHAR},
        #{reportContent,jdbcType=VARCHAR}, #{reporter,jdbcType=VARCHAR})
    </insert>
    <update id="updateDevelopment" parameterType="com.kira.emercmdplat.pojo.EventDevelopment">
        update event_development
        <set>
            <if test="reportTime != null">
                report_time = #{reportTime,jdbcType=VARCHAR}
            </if>
            <if test="reportContent != null">
                report_content = #{reportContent,jdbcType=VARCHAR}
            </if>
            <if test="reporter != null">
                reporter = #{reporter,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>