<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kira.emercmdplat.mapper.LeaderInstructMapper">
    <resultMap id="BaseResultMap" type="com.kira.emercmdplat.pojo.LeaderInstructResult">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="event_id" property="eventId" jdbcType="BIGINT"/>
        <result column="contact_id" property="contactId" jdbcType="BIGINT"/>
        <result column="instruct_content" property="instructContent" jdbcType="VARCHAR"/>
        <result column="instruct_status" property="instructStatus" jdbcType="INTEGER"/>
        <result column="instruct_time" property="instructTime" jdbcType="VARCHAR"/>
        <result column="contact_name" property="contactName" jdbcType="VARCHAR"/>
        <result column="j_name" property="jName" jdbcType="VARCHAR"/>
        <result column="mechanism_name" property="mechanismName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    l.id, l.event_id, l.contact_id, l.instruct_content, l.instruct_status, l.instruct_time, c.c_name as contact_name, j.j_name, m.m_name as mechanism_name
    </sql>
    <sql id="Basic_Conditions" >
    <if test="id != null" >
      and l.id = #{id,jdbcType=BIGINT}
    </if>
    <if test="eventId != null">
        and l.event_id = #{eventId, jdbcType=BIGINT}
    </if>
    <if test="contactId != null" >
      and l.contact_id = #{contactId,jdbcType=BIGINT}
    </if>
    <if test="instructStatus != null" >
      and l.instruct_status = #{instructStatus,jdbcType=INTEGER}
    </if>
  </sql>
    <insert id="insert" parameterType="com.kira.emercmdplat.pojo.LeaderInstruct" >
    insert into leader_instruct (id, event_id, contact_id, instruct_content, instruct_status, instruct_time)
    values (#{id,jdbcType=BIGINT}, #{eventId, jdbcType=BIGINT}, #{contactId,jdbcType=BIGINT}, #{instructContent,jdbcType=VARCHAR}, #{instructStatus,jdbcType=INTEGER},
      #{instructTime,jdbcType=VARCHAR})
  </insert>
    <update id="delete" parameterType="com.kira.emercmdplat.pojo.LeaderInstruct">
    DELETE leader_instruct
    where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="update" parameterType="com.kira.emercmdplat.pojo.LeaderInstruct">
        update leader_instruct
        <set>
            <if test="eventId != null">
                event_id = #{eventId, jdbcType=BIGINT}
            </if>
            <if test="contactId != null" >
                contact_id = #{contactId,jdbcType=BIGINT}
            </if>
            <if test="instructContent != null" >
                instruct_content = #{instructContent,jdbcType=VARCHAR}
            </if>
            <if test="instructStatus != null" >
                instruct_status = #{instructStatus,jdbcType=INTEGER}
            </if>
            <if test="instructTime != null" >
                instruct_time = #{instructTime,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from leader_instruct l , contacts c, job j, mechanism m
        where l.contact_id = c.c_id and c.j_id = j.id and c.m_id = m.id and l.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="queryForAll" resultMap="BaseResultMap" parameterType="com.kira.emercmdplat.pojo.LeaderInstructExtend">
        select
        <include refid="Base_Column_List"/>
        from leader_instruct l , contacts c, job j, mechanism m
        where l.contact_id = c.c_id and c.j_id = j.id and c.m_id = m.id
        <include refid="Basic_Conditions"/>
    </select>

    <select id="queryForPage" resultMap="BaseResultMap" parameterType="com.kira.emercmdplat.pojo.LeaderInstructExtend">
        select
        <include refid="Base_Column_List"/>
        from leader_instruct l , contacts c, job j, mechanism m
        where l.contact_id = c.c_id and c.j_id = j.id and c.m_id = m.id
        <include refid="Basic_Conditions"/>
        limit ${index}, ${pageSize}
    </select>

    <select id="queryForCounts" resultType="java.lang.Long" parameterType="com.kira.emercmdplat.pojo.LeaderInstructExtend">
        select count(id)
        from leader_instruct
        <include refid="Basic_Conditions"/>
    </select>

</mapper>