<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kira.emercmdplat.mapper.PlanCatalogMapper">
    <resultMap id="BaseResultMap" type="com.kira.emercmdplat.pojo.PlanCatalog">
        <id column="pc_id" property="id" jdbcType="INTEGER"/>
        <result column="pc_node" property="node" jdbcType="VARCHAR"/>
        <result column="pc_node_content" property="nodeContent" jdbcType="VARCHAR"/>
        <result column="pc_parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="pc_pv_id" property="pvId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
    pc_id, pc_node, pc_node_content, pc_parent_id, pc_pv_id
  </sql>
    <sql id="Basic_Conditions">
        <![CDATA[where 1=1 ]]>
        <if test="id != null">
            and pc_id = #{id,jdbcType=INTEGER}
        </if>
        <if test="node != null">
            and pc_node = #{node,jdbcType=VARCHAR}
        </if>
        <if test="nodeContent != null">
            and pc_node_content = #{nodeContent,jdbcType=VARCHAR}
        </if>
        <if test="parentId != null">
            and pc_parent_id = #{parentId,jdbcType=INTEGER}
        </if>
        <if test="pvId != null">
            and pc_pv_id = #{pvId,jdbcType=INTEGER}
        </if>
    </sql>
    <insert id="insert" parameterType="com.kira.emercmdplat.pojo.PlanCatalog">
    insert into plan_catalog (pc_id, pc_node, pc_node_content, pc_parent_id, pc_pv_id)
    values (#{id,jdbcType=INTEGER}, #{node,jdbcType=VARCHAR}, #{nodeContent,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER},
    #{pvId,jdbcType=INTEGER})
  </insert>
    <update id="delete" parameterType="com.kira.emercmdplat.pojo.PlanCatalog">
    DELETE plan_catalog
    where pc_id = #{id,jdbcType=INTEGER}
  </update>
    <update id="update" parameterType="com.kira.emercmdplat.pojo.PlanCatalog">
        update plan_catalog
        <set>
            <if test="node != null">
                pc_node = #{node,jdbcType=VARCHAR},
            </if>
            <if test="nodeContent != null">
                pc_node_content = #{nodeContent,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                pc_parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="pvId != null">
                pc_pv_id = #{pvId,jdbcType=INTEGER},
            </if>
        </set>
        where pc_id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from plan_catalog
        where pc_id = #{id,jdbcType=INTEGER}
    </select>

    <select id="queryForAll" resultMap="BaseResultMap" parameterType="com.kira.emercmdplat.pojo.PlanCatalog">
        select
        <include refid="Base_Column_List"/>
        from plan_catalog
        <include refid="Basic_Conditions"/>
    </select>

    <select id="queryForPage" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from plan_catalog
        <include refid="Basic_Conditions"/>
        limit ${index}, ${pageSize}
    </select>

    <select id="queryForCounts" resultType="java.lang.Long" parameterType="com.kira.emercmdplat.pojo.PlanCatalog">
        select count(pc_id)
        from plan_catalog
        <include refid="Basic_Conditions"/>
    </select>

</mapper>