<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kira.emercmdplat.mapper.SysLogMapper">
    <resultMap id="BaseResultMap" type="com.kira.emercmdplat.pojo.SysLog">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="e_id" property="eid" javaType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="operation" property="operation" jdbcType="VARCHAR"/>
        <result column="method" property="method" jdbcType="VARCHAR"/>
        <result column="params" property="params" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, e_id, user_name, operation, method, params, create_time
  </sql>
    <sql id="Basic_Conditions">
        <![CDATA[where 1=1 ]]>
        <if test="id != null">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="eid != null">
            and e_id = #{eid, jdbcType=BIGINT}
        </if>
        <if test="user_name != null">
            and user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="operation != null">
            and operation = #{operation,jdbcType=VARCHAR}
        </if>
        <if test="method != null">
            and method = #{method,jdbcType=VARCHAR}
        </if>
        <if test="params != null">
            and params = #{params,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=VARCHAR}
        </if>
    </sql>
    <insert id="insert" parameterType="com.kira.emercmdplat.pojo.Duty">
        insert into sys_log (id, e_id, user_name, operation, method, params, create_time)
        values (#{id,jdbcType=INTEGER}, #{eid,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{operation,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR},
                #{params,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR})
    </insert>
    <update id="delete" parameterType="java.lang.Long">
        DELETE sys_log
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="update" parameterType="com.kira.emercmdplat.pojo.SysLog">
        update sys_log
        <set>
            <if test="eid != null">
                e_id = #{eid, jdbcType=BIGINT},
            </if>
            <if test="user_name != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="operation != null">
                operation = #{operation,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                method = #{method,jdbcType=VARCHAR},
            </if>
            <if test="params != null">
                params = #{params,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from sys_log
        <include refid="Basic_Conditions"/>
    </select>
    <select id="queryForAll" resultMap="BaseResultMap" parameterType="com.kira.emercmdplat.pojo.SysLogExtend">
        select
        <include refid="Base_Column_List"/>
        from sys_log
        <include refid="Basic_Conditions"/>
    </select>
    <select id="queryForPage" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from sys_log
        <include refid="Basic_Conditions"/>
        limit ${page}, ${pageSize}
    </select>
    <select id="queryForCounts" resultType="java.lang.Long" parameterType="com.kira.emercmdplat.pojo.SysLogExtend">
        select count(h_id)
        from sys_log
        <include refid="Basic_Conditions"/>
    </select>

</mapper>