<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kira.emercmdplat.mapper.TaskMapper">
    <resultMap id="BaseResultMap" type="com.kira.emercmdplat.pojo.Task">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="event_id" property="eventId" jdbcType="BIGINT"/>
        <result column="task_title" property="taskTitle" jdbcType="VARCHAR"/>
        <result column="contact_id" property="contactId" jdbcType="BIGINT"/>
        <result column="contact_name" property="contactName" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="VARCHAR"/>
        <result column="end_time" property="endTime" jdbcType="VARCHAR"/>
        <result column="response_time" property="responseTime" jdbcType="VARCHAR"/>
        <result column="arrive_time" property="arriveTime" jdbcType="VARCHAR"/>
        <result column="lng" property="lng" jdbcType="DOUBLE"/>
        <result column="lat" property="lat" jdbcType="DOUBLE"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="task_content" property="taskContent" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="is_arrive" property="isArrive" jdbcType="INTEGER"/>
        <result column="task_type" property="taskType" jdbcType="INTEGER"/>
        <result column="data_type_id" property="dataTypeId" jdbcType="BIGINT"/>
    </resultMap>
    <resultMap id="BaseFeedbackResultMap" type="com.kira.emercmdplat.pojo.Feedback">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="task_id" property="taskId" jdbcType="BIGINT"/>
        <result column="lng" property="lng" jdbcType="DOUBLE"/>
        <result column="lat" property="lat" jdbcType="DOUBLE"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="feedback_content" property="feedbackContent" jdbcType="VARCHAR"/>
        <result column="attach_path" property="attachPath" jdbcType="VARCHAR"/>
        <result column="feedback_time" property="feedbackTime" jdbcType="VARCHAR"/>
        <collection property="mediaList" column="feedback_id" ofType="com.kira.emercmdplat.pojo.Media">
            <result column="media_id" property="id" jdbcType="BIGINT"/>
            <result column="feedback_id" property="feedbackId" jdbcType="BIGINT"/>
            <result column="media_url" property="mediaUrl" jdbcType="VARCHAR"/>
            <result column="media_type" property="mediaType" jdbcType="INTEGER"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        et.id, et.task_title, et.contact_id, et.contact_name, et.telephone, et.event_id,
        et.start_time, et.end_time, et.lng, et.lat, et.address, et.task_content, et.status, et.is_arrive,
        et.task_type, et.data_type_id, et.response_time, et.arrive_time
    </sql>
    <sql id="Basic_Conditions" >
        <if test="id != null" >
          and et.id = #{id,jdbcType=BIGINT}
        </if>
        <if test="eventId != null">
            and et.event_id = #{eventId,jdbcType=BIGINT}
        </if>
        <if test="taskTitle != null" >
          and et.task_title = #{taskTitle,jdbcType=VARCHAR}
        </if>
        <if test="prfId != null" >
          and et.prf_id = #{prfId,jdbcType=BIGINT}
        </if>
        <if test="status != null" >
            and et.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="isArrive != null" >
            and et.is_arrive = #{isArrive,jdbcType=INTEGER}
        </if>
        <if test="taskType != null" >
            and et.task_type = #{taskType,jdbcType=INTEGER}
        </if>
        <if test="dataTypeId != null" >
            and et.data_type_id = #{dataTypeId,jdbcType=BIGINT}
        </if>
        <if test="contactId != null">
            and et.contact_id = #{contactId,jdbcType=BIGINT}
        </if>
      </sql>
    <insert id="insert" parameterType="com.kira.emercmdplat.pojo.Task" >
        insert into task (id, event_id, task_title, prf_id, contact_id, contact_name, telephone, start_time, end_time, lng, lat, address, task_content, status, is_arrive, task_type, data_type_id)
        values (#{id,jdbcType=BIGINT}, #{eventId, jdbcType=BIGINT}, #{taskTitle,jdbcType=VARCHAR}, #{prfId,jdbcType=BIGINT}, #{contactId,jdbcType=BIGINT}, #{contactName,jdbcType=VARCHAR},
        #{telephone,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, #{endTime,jdbcType=VARCHAR},
        #{lng, jdbcType=DOUBLE}, #{lat, jdbcType=DOUBLE}, #{address, jdbcType=VARCHAR}, #{taskContent, jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{isArrive, jdbcType=INTEGER}, #{taskType, jdbcType=INTEGER}, #{dataTypeId, jdbcType=BIGINT})
    </insert>
    <insert id="insertFeedback" parameterType="com.kira.emercmdplat.pojo.Feedback" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into feedback (id, task_id, lng, lat, address, feedback_content, attach_path, feedback_time)
        values (#{id,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, #{lng, jdbcType=DOUBLE}, #{lat, jdbcType=DOUBLE}, #{address, jdbcType=VARCHAR}, #{feedbackContent, jdbcType=VARCHAR}, #{attachPath, jdbcType=VARCHAR}, #{feedbackTime, jdbcType=VARCHAR})
    </insert>
    <insert id="insertMedia" parameterType="com.kira.emercmdplat.pojo.Media" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into media_source(id, feedback_id, media_url, media_type)
        values (#{id,jdbcType=BIGINT}, #{feedbackId,jdbcType=BIGINT},#{mediaUrl,jdbcType=VARCHAR},#{mediaType,jdbcType=INTEGER})
    </insert>
    <delete id="delete" parameterType="com.kira.emercmdplat.pojo.Task">
        DELETE from task
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <update id="update" parameterType="com.kira.emercmdplat.pojo.Task">
        update task
        <set>
            <if test="taskTitle != null" >
                task_title = #{taskTitle,jdbcType=VARCHAR},
            </if>
            <if test="prfId != null" >
                prf_id = #{prfId,jdbcType=BIGINT},
            </if>
            <if test="contactId != null">
                contact_id = #{contactId,jdbcType=BIGINT},
            </if>
            <if test="contactName != null">
                contact_name = #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null" >
                start_time = #{startTime,jdbcType=VARCHAR},
            </if>
            <if test="responseTime != null" >
                response_time = #{responseTime,jdbcType=VARCHAR},
            </if>
            <if test="arriveTime != null" >
                arrive_time = #{arriveTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null" >
                end_time = #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="lng != null" >
                lng = #{lng,jdbcType=DOUBLE},
            </if>
            <if test="lat != null" >
                lat = #{lat,jdbcType=DOUBLE},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="taskContent != null" >
                task_content = #{taskContent,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="isArrive != null" >
                is_arrive = #{isArrive,jdbcType=INTEGER},
            </if>
            <if test="taskType != null">
                task_type = #{taskType, jdbcType=INTEGER},
            </if>
            <if test="dataTypeId != null">
                data_type_id = #{dataTypeId, jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateMedia" parameterType="com.kira.emercmdplat.pojo.Media">
        update media_source
        <set>
            <if test="feedbackId != null">
                feedback_id = #{feedbackId,jdbcType=BIGINT}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from task
        where 1 = 1 and id = #{id,jdbcType=BIGINT}
    </select>
    <select id="queryForAll" resultMap="BaseResultMap" parameterType="com.kira.emercmdplat.pojo.TaskExtend">
        select
        <include refid="Base_Column_List"/>
        from task
        where 1 = 1
        <include refid="Basic_Conditions"/>
        order by et.id desc
<!--        <if test="order != null and orderType">-->
<!--            order by ${order} ${orderType}-->
<!--        </if>-->
    </select>
    <select id="selectByTaskType" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select * from task et, data_type dt
        where et.data_type_id = dt.d_id
        and dt.d_task_type = #{dataTypeId, jdbcType=INTEGER} and et.event_id = #{eventId, jdbcType=BIGINT}
        order by et.id desc
    </select>
    <select id="selectFeedbackByTaskId" resultMap="BaseFeedbackResultMap" parameterType="java.lang.Long">
        select f.*, m.id as media_id, m.feedback_id, m.media_url, m.media_type
        from feedback f left join media_source m
        on f.id = m.feedback_id
        and f.task_id = #{taskId, jdbcType=BIGINT} order by id desc
    </select>
    <select id="selectLatestFeedbackByTaskId" resultMap="BaseFeedbackResultMap" parameterType="java.lang.Long">
        select f.*, m.id as media_id, m.feedback_id, m.media_url, m.media_type
        from feedback f left join media_source m
        on f.id = m.feedback_id
        and f.task_id = #{taskId, jdbcType=BIGINT} order by id desc limit 1
    </select>
    <select id="queryForPage" resultMap="BaseResultMap" parameterType="com.kira.emercmdplat.pojo.TaskExtend">
        select
        <include refid="Base_Column_List"/>
        from task et, plan_response_flow prf
        where et.prf_id = prf.prf_id
        <include refid="Basic_Conditions"/>
        order by et.id desc
        <if test="page != null">
            limit ${page}, ${pageSize}
        </if>
    </select>
    <select id="queryForCounts" resultType="java.lang.Long" parameterType="com.kira.emercmdplat.pojo.TaskExtend">
        select count(id)
        from task
        <include refid="Basic_Conditions"/>
    </select>
</mapper>